body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3{
    font-size: 3.5rem;
    font-weight: bold;
}

p{
    font-size: 1.2rem;
    line-height: 1.7rem;
}

span{
    font-size: 1.3rem;
    font-family: "Raleway", sans-serif;
}

a{
    font-size: 1.2rem;
    margin: 10px 20px;
    color: black;
}

#design-link:hover{
    color: #eb699e;
}

/*//////////////////////////////////////////////   H O M E  S E C T I O N  /////////////////////////////////*/

.maincontainer {
    background-image: url(Images/banner.jpg);
    padding-bottom: 70px;
}

.titlename{
    color: #eb699e !important;
    font-size: 3rem;
    margin-left: 10px;
} 

.quote-text{
    text-align: left;
    width: 60%;
    margin: 140px 0 0 50px ;
    line-height: 1.5rem;
}

.quote-text h1{
    font-weight: bolder;
    color: #fff;
}

.quote-text p{
    padding-bottom: 20px;
    margin-bottom: 50px;
    color: #eb699e;
}

.readmoreClass{
    border: 1px solid #eb699e;
    color: #eb699e;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif; 
    padding: 18px 40px;
}

#readmore:hover{
    background-color: #fff;
    color: #eb699e;
    transition: all 1000ms ease;
} 

/*////////////////////////////////  P R I C I N G  AND T R A I N I N G  S E C T I O N //////////////////////////////*/

.feature-container{
    margin: 100px 0 100px;
    padding: 0 5%;
}


.feature-title h1{
    color: rgb(14, 10, 10);
}

.feature-title span{
    color: #d41c66;
    font-family: 'Raleway', sans-serif;;
}

.feature-image{
    border-radius: 20px; 
    margin: 50px 0 70px;
    padding: 50px 0;
    box-shadow: #ddd 10px 0px 10px 0px;
}
.feature-image:hover{
    background-color: rgb(199, 196, 193);
    transition: all 0.75s ease-in-out;
    /* color: #fff; */
}

/* .feature-image image{
    color: #fff;
} */

.feature-image h3{
    font-size: 1.6rem;
    font-weight: 600;
}

#readmore-feature:hover{
    background-color: black;
    color: #fff;
    transition: all 1000ms ease;
}


/*//////////////////////////////////////// O F F E R  S E C T I O N //////////////////////////////////////////////*/


#offer-container{
    background-image: url(Images/disco.jpg);
    text-align: center;
    align-items: center;
    padding-bottom: 100px;
    }

#readmore-offer:hover{
    background-color: #fff;
    color: #eb699e;
    transition: all 2000ms ease;
}

.offer-title{
    margin-bottom: 80px;
    padding: 200px 100px 0;
    color: white;
}

/*////////////////////////////////// R E G I S T R A T I O N  S E C T I O N  //////////////////////////////////////*/         

.registration-section{
    margin: 100px auto 100px;
}

.formAndImg{
    margin: 80px 0 0;
}

.registration-form{
    margin: 20px 0 0 40px;
    max-width: 30%;
    padding: 40px 0;
    border-radius: 10px;
    background-color: #eb699e;
}

.registration-form ::placeholder{
    color: #fff;
}

.reg-details{
    border: 1px solid #f6c2d7;
    border-radius: 25px;
    margin-bottom: 25px;
    max-width: 80%;
    width: 100%;
    background: none;
    color: #f5bed2;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    padding: 3px 0 3px 20px;
}

.registration-form textarea{
    padding-top: 35px;
}

.registration-form button{ 
    border: 1px solid #f6c2d7;
    font-size: 1.2rem;
    background-color: #f1ad7c;
    color: #fff;
    padding: 13px 0px;
    max-width: 150px;
    width: 100%;
    font-weight: 600;
    transition: ease-in-out 500ms;
    border-radius: 35px;
}

#sendBtn > button:hover{
    background-color: rgb(246, 248, 248);
    color: #eb699e;
}

.reg-image{
    margin: 4% 0 0 3%;
    padding-top: 70px;
}

/*////////////////////////////////////// R E S P O N S E  S E C T I O N   ///////////////////////////////////////*/

#response-caraousel{
    background-image: url(Images/cli.jpg);
    width: 100%;
    padding: 7% 0 10%;
}

.response-title{
    color: #fff;
    padding-bottom: 3%;
}

.response-title h2{
    font-size: 3rem;
}

.response-content{
    width: 50%;
    margin: 0 auto;
    padding: 15px 20px 70px;
    background-color: #fff;
    color: #3c3c3d;
}
.response-content h3{
    font-size: 2rem;
}
                                                    
                                                  /* F I N A L  S E C T I O N  */

 #final-container{
    background-color: #000;
    color: white;
    width: 100%; 
    padding: 6% 0 1%;
}

.content{
    padding: 2% 3%;
}

input[type="emails"] {
    width: 650px;
    height: 50px;
    padding-left: 30px;
}

::placeholder{
    color: rgb(194, 159, 159);
}

.common-input{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 30px;
}

input[type="submit"] {
    margin-left: -210px;
    
    height: 44px;
    width: 200px;
    background-color: tomato;
    color: #fff;
}

input[type="submit"]:hover{
    background-color: #bb0f54;
    transition: ease-in-out 1000ms;
}

hr{
    margin-top: 100px;
    size: 0;
    border-top: 0.1px solid rgb(141, 136, 136);
}

.copyright a, p{
    color: rgb(151, 135, 135);
}
.copyright a{
    margin-left: -0.01px;
    padding-left: 5px;
}

/*////////////////////////////////////////////// MEDIA Query Section ////////////////////////////////////////*/

@media (max-width: 1010px)
{
    h1{
        font-size: 2rem;
    }
    h3,span{
        font-size: 0.9rem;
    }
    .media-title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .media-title h1{
        font-size: 2.5rem;    
    }
    .registration-form{
       margin: 0 auto;
    }
    .reg-image{
        width: 400px;
    }    
}

@media only screen and (max-width: 700px)
{
    .media-title{
        margin-top: -100px;
    }
    .media-title h1{
        font-size: 2.5rem;    
    }
    .media-title img{
        width: 250px;
    }
    .registration-form{
        max-width: 70%;
        margin: 0 auto;
    }
    .reg-image{
        display: none;
    }
    .media-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: -50px ;
    }
    .media-input{
        max-width: 180px;
        max-height: 30px;
        font-size: 0.9rem;
    }
    .media-submit {
    font-size: 0.9rem;
    margin: 10px -210px 0 0;
    max-width: 100px;
    max-height: 30px;
    }   
    a, p, span{
        font-size: 0.8rem;
    }
}
